<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>
<style>
body {text-indent: 10px;
  border:5px solid #CC270A;
    font-family: 'Andika';font-size: 23px;
}
  h1{ color : DarkCyan;

  }

a:link {
    color: Brown;
  }

a:hover {
  color: orange;

}
  </style>
</head>
<body>

<h1>Index</h1>
<p>
    <a href="/total">/total</a>
</p>

<p>
    <a href="/countries/all">/countries/all</a>
</p>

<p>
    <a href="/countries?name=Turkey">/countries?name={country-name}&id={country-id}&continent={continent-name}</a>
</p>

<p>
    <a href="/continents/all">/continents/all</a>
</p>

<p>
<a href="/continents?name=Asia">/continents?name={continent-name}&id={continent-id}</a>
</p>


</body>
</html>